[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=dendop
Group=dendop
WorkingDirectory=/home/dendop/app/src/
Enviroment="PATH=/home/dendop/app/venv/bin"
ExecStart=/home/dendop/app/venv/bin gunicorn -w 1 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000


[Install]
WantedBY=multi-user.target